/* colors */
:root {
    --primary: #0257a3;
    --secondary: #ea7425;
  }

/* global styles */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

/* header styles */

/* main styles */

/* footer styles */
.page-footer {
    background: var(--primary);
  }

.noaa-logo {
    width: 60px;
  }